{
  "extends": "eslint-config-airbnb",
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": false
      }],

    "no-var": 0,
    "prefer-const": 0,

    "vars-on-top": 0,                  // easy to move to ES6 some day
    "no-use-before-define": 0,
    "id-length": 0
  }

}
